/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "M PLUS 1", sans-serif;
  color: #171a20;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Classes */
.desktop {
  display: none;
}

@media (min-width: 1200px) {
  .desktop {
    display: block;
  }
}
